.employees{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.employee__Container {
    text-align: center;
}

.employee__card {
    font-family: Arial, Helvetica, sans-serif;
   box-shadow: 0px 0px 10px 1px #bbbbbb;
    max-width: 350px;
    margin: 20px;
    padding: 10px;
    text-align: center;
    border-radius: 3px
}

.employee__card:hover {
    box-shadow: 0px 0px 10px 1px #e19a00;
}